@model List<Barton_Books.Models.Product>
@{
    ViewBag.Title = "All";
}

<link rel="stylesheet" href="~/Content/main.css" />
<script src="~/Scripts/main.js"></script>

<h2>All</h2>

<a href="/Products/Upsert/">Add New</a>

<div class="row">
    <div class="col-md-6">
        <input id="txtSearch" type="text" class="form-control" placeholder="Search..." />
    </div>
    <div class="col-md-6">
        <input type="button" class="btn btn-info" value="Search" onclick="searchProducts();" />
    </div>
</div>

<table class="table table-hover sortable">
    <thead>
        <tr>
            <th onclick="sortProducts(0);">Product Code</th>
            <th onclick="sortProducts(1);">Description</th>
            <th onclick="sortProducts(2);">Unit Price</th>
            <th onclick="sortProducts(3);">On Hand Quantity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
        <tr>
            <td>@product.ProductCode</td>
            <td>@product.Description</td>
            <td>@product.UnitPrice</td>
            <td>@product.OnHandQuantity</td>
            <td>
                <a href="/Products/Upsert/@product.ProductCode">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>
